<title>Pinkcity</title>
<link rel="stylesheet" type='text/css'  href="../styles/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div class="pc-header">
         <img class="pc-logo" src="../image/pinkcity_bus_logo.png" alt="pink-city-logo">
        <span class="vertical_space"></span>

    <ul class="pc-vertical">
      <li class="Bus-active">
        <img class="img-pc-vertical1"src="../image/pinkcity_bus_logo.png" alt="Bus ticket" >
        <span class="name-pc-vertical">Bus ticket</span>
      </li>
      <li class="Train-active">
        <img class="img-pc-vertical"src="image\rail_vertical.svg" alt="Train ticket" >
        <span class="name-pc-vertical2">Train ticket</span>
      </li>
    </ul>

    <ul class="second-part">
        <li class="second-part1">
                    <i class="fa-solid fa-headset"></i>
                    <a href='#'><span class="help">Help</span></a>
                    </i>             
        </li>

        <li class="second-part1">
            <i class="fa-solid fa-language"></i>
            <a href='#'><span class="lang">Language</span></a>
            </i>             
        </li>

        <li class="second-part1">
            <i class="fa-solid fa-user"></i>
            <a href='#'><span class="account">Account</span></a>          
        </li>

    </ul>
    </div>
   
    
</header>


<section>
    
    <div>
        <img class="banner" src="../image/pinkcity_bus_753x520.png" alt="image">
    </div>
        <h1 class="text">🚍 Experience the ❤️ Heartbeat of the City! 🌆✨</h1>
    <div class="input">
    </div>
    <div>
        <div class="container" >
            <div class="part-1">
                <div class="separate">

                </div>


            </div>
              
        </div>

    </div>

</section>