
<link rel="stylesheet" type='text/css' href="D:\html-templates\styles\fb-styles.css"/>
<p class="container">paragraph 1</p>
<div class="container" > 
    <img class="profile-img" src="../images/kabi.png">
    <div class="profile-name" id="achampathu"> kabilan M </div>
    <div class="btn-container">
        <div class="button blue">confirm</div> 
        <div class="button black">delete</div>     
    </div>
</div>

<div class="container" > 
    <img class="profile-img" src="../images/niki.png">
    <div class="profile-name"> Nikilesh M </div>
    <div class="button blue" >confirm</div> 
    <div class="button black" id="achampathu">delete</div>     
</div>

<div class="container" > 
    <img class="profile-img" src="../images/kabi.png">
    <div class="profile-name"> murugaboopathy M </div>
    <div class="button blue " id="achampathu">confirm</div> 
    <div class="button black">delete</div>     
</div>

<div class="container" > 
    <img class="profile-img" src="../images/kabi.png">
    <div class="profile-name "> kabilan M </div>
    <div class="btn-container">
        <div class="button blue">confirm</div> 
        <div class="button black">delete</div>     
    </div>
</div>

<div class="container" > 
    <img class="profile-img" src="../images/niki.png">
    <div class="profile-name"> Nikilesh M </div>
    <div class="button blue">confirm</div> 
    <div class="button black">delete</div>     
</div>

<div class="container" > 
    <img class="profile-img" src="../images/kabi.png">
    <div class="profile-name"> murugaboopathy M </div>
    <div class="button blue ">confirm</div> 
    <div class="button black">delete</div>     
</div>
<div>
    <div>
</div>





