<title>redbus</title>
<link rel="stylesheet" type='text/css'  href="../styles/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div class="rb-header">
         <img class="rb-logo" src="../image/redbus-logo.webp" alt="redbus-logo">
        <span class="vertical_space"></span>

    <ul class="rb-vertical">
      <li class="Bus-active">
        <img class="img-rb-vertical1"src="../image/redbus-logo.webp" alt="Bus ticket" >
        <span class="name-rb-vertical">Bus ticket</span>
      </li>
      <li class="Train-active">
        <img class="img-rb-vertical"src="..\image\rail_vertical.svg" alt="Train ticket" >
        <span class="name-rb-vertical2">Train ticket</span>
      </li>
    </ul>

    <ul class="second-part">
        <li class="second-part1">
                    <i class="fa-solid fa-headset"></i>
                    <a href='#'><span class="help">Help</span></a>
                    </i>             
        </li>

        <li class="second-part1">
            <i class="fa-solid fa-language"></i>
             <span class="lang">Language</span>
            </i>             
        </li>

        <li class="second-part1">
            <i class="fa-solid fa-user"></i>
             <span class="account">account</span>
            </i>             
        </li>

    </ul>
    </div>
   
    
</header>


<section>
    
    <div>
        <img class="banner" src="../image/Homepage-header.webp" alt="image">
    </div>
        <h1 class="text">India's No.1 Online Bus Tricket Booking Site</h1>
    <div class="input">
    </div>
    <div>
        <div class="container" >
            <div class="part-1">
                <div class="separate">

                </div>


            </div>
              
        </div>

    </div>

</section>